<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
  </div>
  <!-- Navigation -->
  <!-- <nav class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
            <div class="top-left-part sidebar-left">
                <a class="logo" href="index.html">
                    <b class="sidebar-logo"><img src="assets/images/logo_small.png" alt="home" /></b>
                </a>
            </div>
    </div>
  </nav> -->
  
  <!-- <div class="navbar-default sidebar active" role="navigation">
    <div class="sidebar-nav navbar-collapse nav-box">
        <div class="top-left-part sidebar-left">
            <a class="logo" href="index.html">
                <b class="sidebar-logo"><img src="assets/images/logo_small.png" alt="home" /></b>
            </a>
        </div>
      <ul class="nav" id="side-menu">
                
        <li class="sidebar-profile sidebar-profile-left active tooltip">
          <span class="tooltiptext profile-tooltip-text">MR. Les Brown</span>
                    
          <div class="profile-header-container">  
            <a href="#"> 
              <div class="profile-header-img sidebar-img-left">
                <img class="img-circle img-left-circle" src="assets/images/resercher_avatar.png" />
              </div>
            </a>     
          </div>
        </li>
  
                <li class="sidebar-menu sidebar-left-menu  tooltip ">
                    <a href="#pageSubmenu" class=" waves-effect collapsed" id="main-menu">
                        <span class="side-menu-common "><img src="assets/images/ic_todo.svg" alt="ic_todo" class="commom-icons"></span>
                    </a>
                    <span class="tooltiptext">Tooltip text</span>
                    
                </li>
                <li class="sidebar-menu tooltip">
  
                    <a href="#" class="waves-effect " id="">
                        <span class="side-menu-common"><img src="assets/images/ic_wmt.svg" class="img img-responsive commom-icons" alt="researcher"></span>
                    </a>
                    <span class="custom-tooltip tooltiptext ">Work Management Tool</span>
                </li>
                <li class="tooltip">   
                    <a href="#" class="waves-effect">
                        <span class="hide-menu">
                            <img src="assets/images/ic_performance.svg" alt="ic_todo" class="commom-icons">
                        </span>
                    </a>
                    <span class="tooltiptext">Tooltip text</span>
                </li>
                <li class="tooltip">   
                    <a href="#" class="waves-effect">
                        <span class="hide-menu">
                            <img src="assets/images/ic_preferences.svg" alt="ic_todo" class="commom-icons">
                        </span>
                    </a>
                    <span class="tooltiptext">Tooltip text</span>
                </li>
            </ul>      
    </div>    
  </div> -->
  
  <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row top-header">
                <h5 class="col-sm-6">To do</h5>
            </div>
  
          <div class="row first-box-row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 common-header-box">
                    <div class="white-box">
                        <div class="col-in">
                            <span class="text-common">CPA Cashire and GTR Manchester(CPA Cashire and GTR Manchister)</span>
                            <p class="sub-text">Date For:</p>
                        </div>
                    </div>
                </div><!-- /.col -->
  
                
                <!-- /.col -->
                <!-- col -->
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 common-header-box">
                    <div class="white-box">
                         <div class="col-in">
                            <span class="text-common">{{totalCount}}</span>
                            <p class="sub-text">Over All Tasks:</p>   
                         </div>
                    </div>
                </div>
                <!-- /.col -->
                <!-- col -->
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div class="white-box">
                         <div class="col-in">
                            <span class="text-common">Local</span>
                            <p class="sub-text">Data Source:</p>
                         </div>
                    </div>
                </div><!-- /.col -->
            </div><!--/.row -->
  
         <div class="row-fluid table-responsive">
            <table class="table ">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                    <th scope="col">Handle1</th>
                    <th scope="col">Handle2</th>
                    <th scope="col">Handle3</th>
                    <th scope="col">Handl4</th>
                    <th scope="col">Handl5</th>

                    <th scope="col">Case manager</th>
                    <th scope="col">Days to leave</th>
                    <th scope="col">Work load</th>
                    <th scope="col">Handl5 cse</th>
                    <th scope="col">6</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>

                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>

                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>@twitter</td>
                    <td>@twitter</td>
                    <td>@twitter</td>
                    <td>@twitter</td>
                    <td>@twitter</td>
                    <td>@twitter</td>
                    <td>@twitter</td>
                    <td>@twitter</td>
                    <td>@twitter</td>
                    <td>@twitter</td>
                                                                                            
                  </tr>
                </tbody>
              </table>


         </div>
            
        </div>
    </div>