 
<div  *ngIf="visible" [@slideInOut]="modalState" >
             
        <div id="ZIndex2" class="modalContainer container-fluid" [style.height.px]="totalHeight" >
           <div class="todoTreehead">
                <a class="excel-link float-right" (click)="openRightDialogModal()"><img src="assets/images/icons/internet.svg" width="20px" height="20px"></a>  
           </div>
           <div class="todoTree" [style.height.px]="todoTreeHeight">
            <ul class="cd-accordion-menu" >                       
                <li class="has-children" *ngFor="let allprovdr of allProviders; let i = index">
                        <span><a (click)="allprovdr.active=!allprovdr.active; providerClicked(allprovdr,i)">
                            <img [src]="allprovdr.active?'./assets/images/minus.png':'./assets/images/plus.png'" width="20px" height="20px"/></a></span>
                        <span>
                         <input type="checkbox" name ="provdr" id="provdr-{{i+1}}">
                   <label for="provdr-{{i+1}}">{{allprovdr.levelValue}}</label>
                </span>
                <ng-container *ngIf="allprovdr.active">                          
                   <ul>
                      <li class="has-children" *ngFor="let cluster of allprovdr.sortedClusterArray||[]; let j = index">
                            <span><a (click)="cluster.active=!cluster.active; clustersClicked(cluster,j)">
                                    <img [src]="cluster.active?'./assets/images/minus.png':'./assets/images/plus.png'" width="20px" height="20px"/></a></span>
                                <span>
                                 <input type="checkbox" name ="cluster" id="cluster-{{j+1}}">
                           <label for="cluster-{{j+1}}">{{cluster.levelValue}}</label>
                        </span>
                        <ng-container *ngIf="cluster.active">                               
                             <ul>
                                <li class="has-children" *ngFor="let ldus of cluster.sortedLdusArray||[]; let k = index">
                                      <span><a (click)="ldus.active=!ldus.active; ldusClicked(ldus,k)">
                                              <img [src]="ldus.active?'./assets/images/minus.png':'./assets/images/plus.png'" width="20px" height="20px"/></a></span>
                                          <span>
                                           <input type="checkbox" name ="ldus" id="ldus-{{k+1}}">
                                     <label for="ldus-{{k+1}}">{{ldus.levelValue}}</label>
                                  </span>
                                  <ng-container *ngIf="ldus.active">
                                     <ul>                                            
                                        <li class="has-children" *ngFor="let team of ldus.sortedTeamList; let t = index">
                                                <span><a (click)="team.active=!team.active; teamClicked(team,t)">
                                                        <img [src]="team.active?'./assets/images/minus.png':'./assets/images/plus.png'" width="20px" height="20px"/></a></span>
                                                    <span>
                                                     <input type="checkbox" name ="team" id="team-{{t+1}}">
                                               <label for="team-{{t+1}}">{{team.levelValue}}</label>
                                            </span>
                                            <ng-container *ngIf="team.active">
                                               <ul>
                                                  <li class="has-children" *ngFor="let managr of team.sortedManagerList; let m = index">
                                                     <input type="checkbox" name ="managr" id="managr-{{m+1}}" >
                                                     <label for="managr-{{m+1}}">{{managr.levelValue}}</label>
                                                      
                                                  </li>                            
                                               </ul>
                                            </ng-container>                                      
                                          </li>
                                     </ul>
                                  </ng-container>                            
                                </li>                            
                             </ul>
                        </ng-container>                  
                      </li>                            
                   </ul>
                </ng-container>
                </li> 
            
             </ul> 

           </div>
        </div>
        
 </div>
 
 
<div id="page-wrapper">
      <div id="ZIndex1" class="container-fluid" >
          <div class="width100per top-header">
              <span class="todoFont">To do</span>
            <span class="float-right">
                    <a class="excel-link" (click)="openRightDialogModal()"><img src="assets/images/globalPreferences.png" width="20px" height="20px"></a>  
                    <a class="excel-link"><img src="assets/images/ic_preferences.svg" width="20px" height="20px"></a>
                   
            </span>
          </div>

        <div class="row first-box-row">
              <div class="widt60per common-header-box">
                  <div class="white-box">
                      <div class="col-in">
                          <span class="text-common">CPA Cashire and GTR Manchester(CPA Cashire and GTR Manchister)</span>
                          <p class="sub-text">Date For:</p>
                      </div>
                  </div>
              </div><!-- /.col -->

              
              <!-- /.col -->
              <!-- col -->
              <div class=" widt20per common-header-box">
                  <div class="white-box">
                       <div class="col-in">
                          <span class="text-common">{{totalCount}}</span>
                          <p class="sub-text">Over All Tasks:</p>   
                       </div>
                  </div>
              </div>
              <!-- /.col -->
              <!-- col -->
              <div class="widt20per data-source-box">
                  <div class="white-box">
                       <div class="col-in">
                          <span class="text-common">Local</span>
                          <p class="sub-text">Data Source:</p>
                       </div>
                  </div>
              </div><!-- /.col -->
          </div><!--/.row -->

          <div class="row-fluid"> 
              <div class="white-box common-box filter-box">
                  <div class="list-title">
                      <span>To Do List(Time Sensitive)</span>
                       <span class="list-total-count" >{{timeCount}}</span>                        
                  </div>
                  <div class="default-box">
                    <div class="list-items"  *ngFor="let list of taskDetails.To_Do_List_Time_Sensitive ">   
                        <a class="todo-links"  [routerLink]="['/todo', (list.fileInfoId || list.toDoId), time_duration]" [queryParams]="{ desc: list.sheetDescription }">  
                        <div class="list-common">
                            <span class="commom-desc">{{list.sheetDescription}}</span>
                                <span class="list-number">{{list.recordCount}}</span>
                                <span style="display:none">{{list.fileInfoId}}</span>
                        </div>
                        </a>  
                    </div>
                  </div>
                 
                  <!-- <div class="day-box" *ngIf="dayBlock">
                    <div class="list-items"  *ngFor="let list of taskFilterDetails.TimeSensitiveCounts">    
                        <a class="todo-links"  routerLink="/todo/{{list.toDoId}}/{{count_data}}/" [queryParams]="{ desc: list.sheetDescription }">  
                        <div class="list-common">
                            {{list}}
                            <span>{{list.sheetDescription}}</span>
                            <span class="list-number" *ngIf="overAllCount">{{list.allCount}}</span>
                                <span class="list-number" *ngIf="dayCount">{{list.oneDayCount}}</span>
                                <span class="list-number" *ngIf="weekCount">{{list.oneWeekCount}}</span>
                                <span class="list-number" *ngIf="dueCount">{{list.overDueCount}}</span>
                                <span style="display:none">{{list.toDoId}}</span>
                        </div>
                        </a>  
                    </div>
                  </div> -->

                  <div class="filter-container clearfix">
                      <div  class="" id="submit" role="button" tabindex="0">
                        <button  class="btn filter-btn btn-responsive" type="submit" (click)="getFilterdata('allCount','TimeSensitiveCounts')">All</button>
                        <button  class="btn filter-btn btn-responsive" type="button" (click)="getFilterdata('oneDayCount','TimeSensitiveCounts')">1 Day</button>
                        <button  class="btn filter-btn btn-responsive" type="submit" (click)="getFilterdata('oneWeekCount','TimeSensitiveCounts')">1 Week</button>
                        <button  class="btn filter-btn btn-responsive" type="submit" (click)="getFilterdata('overDueCount','TimeSensitiveCounts')">Overdue</button>
                      </div>
                  </div>
              </div>

              <div class="white-box common-box filter-box">
                    <div class="list-title">
                        <span>To Do List(Interventions)</span>
                        <span class="list-total-count">{{interCount}}</span>
                    </div>
                  
                    <div class="default-box" *ngIf="riskBlock">
                        <div class="list-items" *ngFor="let list of taskDetails.To_Do_List_Interventions">    
                            <a class="todo-links" [routerLink]="['/todo', (list.fileInfoId || list.toDoId), risk_factor]" [queryParams]="{desc: list.sheetDescription}">
                                <div class="list-common"> 
                                <span class="commom-desc">{{list.sheetDescription}}</span>
                                <span class="list-number">{{list.recordCount}}</span>
                            </div>
                            </a>
                        </div>
                    </div>

                    <!-- <div class="day-box" *ngIf="riskFilterBlock">
                            <div class="list-items"  *ngFor="let list of taskFilterDetails.InterventionsCounts">    
                                <a class="todo-links"  routerLink="/todo/{{list.toDoId}}/{{count_data}}/" [queryParams]="{ desc: list.sheetDescription }">  
                                <div class="list-common">
                                    <span>{{list.sheetDescription}}</span>
                                    <span class="list-number" *ngIf="allRiskCount">{{list.allCount}}</span>
                                    <span class="list-number" *ngIf="lowCount">{{list.lowRiskCount}}</span>
                                    <span class="list-number" *ngIf="highCount">{{list.highRiskCount}}</span>
                                    <span class="list-number" *ngIf="failingCount">{{list.failingCount}}</span>
                                    <span style="display:none">{{list.toDoId}}</span>
                                </div>
                                </a>  
                            </div>
                          </div> -->


                    <div class="filter-container clearfix">
                      <div  class="" id="submit" role="button" tabindex="0">
                        <button  class="btn filter1-btn btn-responsive" type="submit" (click)="getFilterdata('allCount','InterventionsCounts')">All</button>
                        <button  class="btn filter1-btn btn-responsive" type="submit" (click)="getFilterdata('lowRiskCount','InterventionsCounts')">Low Risk</button>
                        <button  class="btn filter1-btn btn-responsive" type="submit" (click)="getFilterdata('highRiskCount','InterventionsCounts')">High Risk</button>
                        <button  class="btn filter1-btn btn-responsive" type="submit" (click)="getFilterdata('failingCount','InterventionsCounts')">Failing</button>
                      </div>
                    </div>    
                </div>
              
              <div class="white-box common-box">
                  <div class="list-title">
                      <span>To Do List(Informational)</span>
                      <span class="list-total-count">{{infoGroupCount}}</span>
                  </div>
                  <div class="list-items" *ngFor="let list of taskDetails.To_Do_List_Informational">    
                      <a class="todo-links" [routerLink]="['/todo', list.fileInfoId]" [queryParams]="{desc: list.sheetDescription}">  
                    <div class="list-common" >
                          <span class="commom-desc">{{list.sheetDescription}}</span>
                          <span class="list-number">{{list.recordCount}}</span>
                      </div>
                    </a>  
                  </div>
              </div>

              <div class="white-box common-box hete-box">
                  <div class="list-title">
                      <span>To Do List(HETE and Curfew)</span>
                      <span style="float: right;color: #59e6ec;padding-right: 5px;">{{heteGroupCount}}</span>
                  </div>
                  <div class="list-items" *ngFor="let list of taskDetails.To_Do_List_HETE_and_Curfew">
                      <a class="todo-links" [routerLink]="['/todo', list.fileInfoId]" [queryParams]="{desc: list.sheetDescription}">    
                        <div class="list-common">
                            <span class="commom-desc">{{list.sheetDescription}}</span>
                            <span class="list-number">{{list.recordCount}}</span>
                        </div>
                      </a>
                  </div>
              </div>
          </div>  

          <div class="white-box common-box outstanding-box">
              <div class="list-title">
                  <span>Outstanding Pending Transfer</span>
                  <span style="float: right;color: #59e6ec;padding-right: 5px;">{{outGroupCount}}</span>
              </div>
              <div class="list-items" *ngFor="let list of taskDetails.OutStanding_Pending_Transfer">
                <a class="todo-links" [routerLink]="['/todo', list.fileInfoId]" [queryParams]="{desc: list.sheetDescription}">    
                  <div class="list-common">
                      <span class="commom-desc">{{list.sheetDescription}}</span>
                      <span class="list-number">{{list.recordCount}}</span>
                  </div>
                </a>
              </div>
          </div>
      </div>
     
  </div>


  