@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i|Monoton");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

#page-wrapper {
    /* padding: 0 15px 12px 55px; */
    padding: 0 15px 12px 80px;
     
 }
 .padding25px{
     padding: 25px;
 }
 .white-box{
    background-color: #ffffff;
    width: 100%;
 }

 /* open and closing check boxes */
 
  .buttonShow {
    display: inline-block;
   
}
.buttonHide {
    display: inline-block;   
    
}
.plus-icon{
  width: 20px;
  height: 20px;
}
.paddLeft60px{
  padding-left: 60px !important;
}
  
 
 

 
  /* End of checkbox options */

  .pad25px{
    padding: 25px;
  }


  /* New open close checkbox css */
 
/* end of icon */

.marginRight20px{
  margin-right: 20px;
}



/*-----------------Preference UI Starts---------------------------*/
li.common-list:before{
  content: "";
   display: block; 
  width: unset;
  height: unset;
   border-top: 0px solid gray; 
}

.pref-box{
  max-height: 700px;
  overflow-y: auto;
}

ul {
  padding: 0em;
}

ul li, ul li ul li {
  position:relative;
  top:0;
  bottom:0;
  padding-bottom: 7px;

}

ul li ul {
  margin-left: 4em;
}

li {
  list-style-type: none;
}
li a.toogle{
  padding: 0 0 0 8px;
  position: relative;
  top: 13px;
  color: #428bca;
}
li a.pref-link {
  padding: 0 0 0 8px;
  position: relative;
  top: 13px;
  color: #428bca;
}

li a.pref-link:hover {
  text-decoration: none;
}

a.addBorderBefore:before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 28px;
  position: absolute;
  left: -47px;
  top:-16px;
  border-left: 1px solid gray;
}

li.pref-list:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 0;
  position: relative;
  left: 0em;
  top:.7em;
  border-top: 1px solid gray;
}


li.hasSubmenu:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 0;
  position: relative;
  left: 0em;
  top:.7em;
  border-top: 1px solid gray;
}

ul li ul li:last-child:after, ul li:last-child:after {
  content: '';
  display: block;
  width: 1em;
  height: 1em;
  position: relative;
  background: #fff;
  top: 9px;
  left: -1px;
}
 
.padLeftRight20px{
  padding: 0px 20px;
}
/*-----------------Preference UI Ends----------------------------*/
.cyanBackground-btn{
  background-color: #1fdee5;
  padding: 5px 5px 10px 5px;
  float: right;
  margin-left: 10px;
}
.globalIcons{
  width: 20px;
  height: 20px;
}
.padding25px-top{
  padding-top: 20px;
}