@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i|Monoton");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

#page-wrapper {
    /* padding: 0 15px 12px 55px; */
    padding: 0 15px 12px 80px;
     
 }
 .padding25px{
     padding: 25px;
 }
 .white-box{
    background-color: #ffffff;
    width: 100%;
 }