@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i|Monoton");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.waves-effect .waves-ripple{
    background:none !important;
}

body{
    background-color:#edf1f5  !important
}


td, th {
    text-align: center !important;
    border-radius: unset !important;
}

.ui-datatable tbody > tr.ui-widget-content.ui-state-highlight {
    background-color: #186ba0;
    color: #FFFFFF;
}
/* .ui-chkbox{
    cursor: pointer;   
} */
  /* tr.ui-widget-content td:nth-child(2) {
    display: none;
}

th.ui-state-default.ui-unselectable-text.ui-sortable-column.ui-resizable-column:nth-child(2) {
    display: none;
}
*/
.ui-chkbox.ui-widget {
    height: 29px;
} 

.ui-datatable .ui-datatable-thead>tr>th, .ui-datatable .ui-datatable-tfoot>tr>td, .ui-datatable .ui-datatable-data>tr>td {
    padding: .65em .5em !important;
    border-style: unset !important;
}
.ui-datatable-thead tr th:first-child .ui-chkbox-box{
   
    display: none !important; 
}