@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i|Monoton");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.waves-effect .waves-ripple{
    background:none !important;
}
#toast-container {
    top: -3% !important;
    right: 7%;
    max-width: 86%;
}


.toast-container .toast {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    border-radius: 3px 3px 3px 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 24px;
    -webkit-box-shadow: 0 0 12px #999999;
    box-shadow: 0 0 12px #999999;
    color: #FFFFFF;
    visibility: visible;
    display: block;
    transition: unset !important;
}
.card {
    position: relative;
    display: flex;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
}

body{
    background-color:#edf1f5  !important
}
.preloader {
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: 99999;
    background: #4b4343;
    opacity:0.8;
}
.preloader .cssload-speeding-wheel {
    position: absolute;
    top: calc(50% - 3.5px);
    left: calc(50% - 3.5px);
    background: url('/assets/images/ajax-loader.gif') no-repeat center;
}
.cssload-speeding-wheel {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    animation: cssload-spin 425ms infinite linear;
    -o-animation: cssload-spin 425ms infinite linear;
    -ms-animation: cssload-spin 425ms infinite linear;
    -webkit-animation: cssload-spin 425ms infinite linear;
    -moz-animation: cssload-spin 425ms infinite linear;
}
.ui-widget-content {
    border-left: 0 !important;
    border-right: 0 !important;
    border-top:0 !important;
    border-bottom:0 !important;

}
tr>td {
    padding: .95em .5em !important;
}

td, th {
    text-align: center !important;
    border-radius: unset !important;
}
thead th span{
    color: #000;
}
.ui-datatable tbody > tr.ui-widget-content.ui-state-highlight {
    background-color: #186ba0;
    color: #FFFFFF;
}
.ui-datatable .ui-editable-column input {
    width: 20% !important;
    text-align: center !important;
    border: 1px solid #9e9e9e !important;
    height: 2rem !important;
}
input.ui-inputtext:focus {
    border-bottom: 1px solid #9e9e9e !important;
    box-shadow: unset !important;
}
/* .ui-datatable-resizable{
    overflow: unset !important;
} */
/* .ui-chkbox{
    cursor: pointer;   
} */
  /* tr.ui-widget-content td:nth-child(2) {
    display: none;
}

th.ui-state-default.ui-unselectable-text.ui-sortable-column.ui-resizable-column:nth-child(2) {
    display: none;
}
*/

.ui-chkbox.ui-widget {
    height: 29px;
} 
.ui-datatable .ui-datatable-thead>tr>th{
    padding: .65em .5em !important;
}
.ui-datatable .ui-datatable-thead>tr>th, .ui-datatable .ui-datatable-tfoot>tr>td, .ui-datatable .ui-datatable-data>tr>td {
    /* padding: .65em .5em; */
    border-style: unset !important;
}
.ui-datatable-thead tr th:first-child .ui-chkbox-box{
   
    display: none !important; 
}

.ui-datatable tbody > tr.ui-widget-content.disabled {
    background-color: #186ba0 !important;
    color: #fff;
}
span.ui-cell-data {
    font-size: 0.85em !important;
}